# 博客认证密码
BLOG_AUTH_PASSWORD=123456

# GitHub Token (用于发布文章到GitHub)
GITHUB_TOKEN=your_github_token_here

# Valine评论系统配置
VALINE_APP_ID=tNNnez7lGPAvJR1m7SJmdgWr-gzGzoHsz
VALINE_APP_KEY=qQyqSoZuGOaEIj7Urq6U0A0B
VALINE_PLACEHOLDER=联系方式（选填）

# 网站配置
NEXT_PUBLIC_SITE_URL=https://your-domain.vercel.app
